[submodule "SplashKitWasm/splashkit-core"]
	path = SplashKitWasm/external/splashkit-core
	url = https://github.com/thoth-tech/splashkit-core.git
	ignore = dirty
[submodule Browser_IDE/external/js-lzma"]
	path = Browser_IDE/external/js-lzma
	url = https://github.com/WhyPenguins/js-lzma
