:root {
    /* Colour for the code editor */
    --editorKeyword : #ff79c6;
    --editorComment: #6272a4;
    --editorGutterBackground: #282a36;
    --editorLineNumber: #6D8A88;
    --editorFunctionsAndObject: #50fa7b;
    --editorProperty: #66d9ef;
    --editorNumber: #bd93f9;
    --editorSelected: rgba(255, 255, 255, 0.10);
    --editorString: #f1fa8c;
    /* This meta colour is used for a numerious single characters, These include () in function calls, ; for termination operator ect  */
    --editorMeta: #f8f8f2;
    /* This variable is used when a variable is passed to a function is an argument or colour of a return type variable */
    --editorVariable2: white;
    /* This variable is only used for types in langauges which use static typing  */
    --editorType: #ffb86c;
    --editorBackgroundColour: #24262d;


    /* Colours for UI */
    --gutterColour: #1f1f1f;
    --disabled: #AAA;
    --errorColour: #d94747;
    --warning: #FA0;    
    --activeTabColour: #3AF;
    --nodeConflict: lightcoral;    
    --languageSelectBackground: #303030;
    --errorLineBackground: #6c514f;



    /* Gutter colouring */
    --shadowColour: #404040;
    --nodeHover: #242732;
    --fileColour: #9fff69;
    --iconHover: #9fff69;

    /* Terminal colouring */
    --terminalBackground: #161616;

    /* The primary colour for all text */
    --primary: white;

    /* Demo colours */
    --language: #68ff00;
    --tagBackground: #303724;
    --demoTitleBackground: #111D;
    /* This variable is also used  */
    --demoThumbnailBackground: rgba(0,0,0,0.2);

    /* variables for loading bar progress */
    --loadingBackground: #444;

    /* Font for UI */
    --font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* Font for code editor */
    --editorFont: monospace, serif;
}