/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;  
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


iframe {
    border: 0;
}

h3 {
    font-weight:400;
}


/* SplashKit Online */
button {
    margin: 0px 5px;
    border-radius: 3px;
    border: 0;
    background-color: #404040;
    color: white;
    cursor: pointer;
    padding: 0px 10px;    
    border-radius: 5px;    
    margin-top: 6px;
    margin-bottom: -3px;
    cursor: pointer;
    transition: background-color 0.3s;    
}

button:disabled {
    color: #AAA;
}

button:hover {
    background-color: #404040;
}

.sk-body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0px;
    color: white;
    background-color: #1f1f1f;

    display:flex;
    flex-direction: column;

    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.sk-header {
    background-color: #1f1f1f;
    box-shadow: 0 1px 0 0.4px #404040 inset;
    color: white;
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    justify-content: space-between;
    height: 3em;
    line-height: 3em;
}

.sk-header-indent {
    padding-left: 1em;
}

.sk-header sk-header-indent{
  position: fixed;
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}

.sk-header img {
  width: 2em;
  height: 2em;
  margin-top: 14px;
  margin-right: 10px;
}

.sk-menu {
    background-color: #1f1f1f;
    color: white;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    border-top: 1px #404040 solid;
}

.sk-menu li {
    display:flex;
}

.sk-tabs {
    background-color: #1f1f1f;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    color:#AAA;
}
.sk-tabs li:hover {
    background-color: #222328;
}
.sk-tabs li {
    display:flex;
    padding: 0px 20px;
    border-top: 1px #404040 solid;
    border-right: 1px #404040 solid;
    cursor: pointer;
    transition: all 0.2s;
}

.sk-tabs-active {
    background-color: #24262d;
    box-shadow: none;
    z-index: 5;
    border-top: #3AF 1px solid !important;
    color: white;
}
.sk-tab-hidden {
    display: none;
}

.sk-menu li button:hover,
.sk-tabs li button:hover,
.flex-column button:hover {
    background-color: #555;
}

.sk-tabs li[data-tab]::after {
    content: "\25BC";
    margin-left: 5px;
    visibility: hidden;  
    display: inline-block; 
  
}

.sk-tabs li[data-tab]:hover::after {
    visibility: visible;
}

.sk-contents {
    background-color: #1f1f1f;
    box-shadow: 0 0 0 1px #404040;
    /*border: 1px #404040 solid;*/

    display:flex;
    flex-direction: column;
    flex-grow:1;
    color: white;
}
.sk-contents-darker {
    background-color: #1B1B1B;
}
.sk-contents-focusable:focus-within {
    box-shadow: 0 0 0 1px #19F;
    z-index:10;
}
textarea {
    outline: none;
}

.sk-main-columns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}



.sk-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%; 
    margin-bottom: 20px; 
}

.gutter {
    display: flex;
    flex-direction: row;
    cursor: e-resize;
    z-index:100;
}



.node{
    color:#f8f8f2;
    cursor: pointer;
}
.node-label:hover{
    background-color:#242732;
    cursor: pointer;
}
.node-label{
    width:100%;
    display:flex;
    flex-direction: row !important;
    padding: 0px 20px 0px 0px;
}
.node-label-text{
    flex: 1;
    padding: 0px 0px 0px 3px;
}
.node-button{
    background: none;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}
.node-button:hover{
    color: lime;
}
.node-transient{
    opacity: 0.7;
    color: #f8f8f2;
}
.node-persistent{
    color: #f8f8f2;
}
.node-persistent.node-transient{
    color: #9fff69;
    opacity: 1.0;
}
.node-tentative-label{
	margin: 0px 6px 0px 6px;
}
.node-conflict{
	width:100%;
	display:flex;
    flex-direction: row !important;
	padding: 0px 20px 0px 0px;
	margin-left: 6px;
	color: lightcoral;
}
.node-conflict-text{
	flex: 1;
	padding: 0px 0px 0px 3px;
	text-wrap: nowrap;
}

.directory-contents{
    padding:00px 0px 0px 30px;
    transition: max-height 0.3s ease;
    overflow:hidden;
}
.closed-directory{}
.open-directory{}


[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: inherit !important;
}


.in-drag{
    opacity:50%;
    cursor:grabbing !important;
    position:fixed;
}

.insertion-point-display{
    position:absolute;
    height:2px;
    background-color:#26A;
    opacity:100%;
    right:0px;
    left:0px;
}
.error-line{
    text-decoration-color: #d94747 !important;
    text-decoration: underline wavy;
    background-color: #6c514f;
}

/* make the CodeMirror theme match the rest of the UI a little more */
.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
    background-color: #24262d !important;
}


.CodeMirror-scrollbar-filler {
    background-color: #282a36 !important;
}
.CodeMirror-activeline-background {
    opacity: 0;
}
.CodeMirror-focused .CodeMirror-activeline-background {
    opacity: 0.5;
}

.CodeMirror-hints{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;

    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
    box-sizing: border-box;
    opacity:0.9;
}

.CodeMirror-hint{
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    color: #f8f8f2 !important;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #08f;
    color: white;
}

#fileViewContainer,
#codeViewContainer,
#runtimeContainer {
  padding: 10px;
}


/* New changes for scrollbar in FILES explorer section */

#fileViewContainer .sk-contents-focusable {
  height: calc(100% - 50px); 
  overflow-y: auto;
  overflow-x: auto;  
  width: 100%; 
  max-width: 100%; 
}

#fileView > * {

  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
}


/* Leftover stuff from bootstrap */

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
  margin-top: 6px;
}

.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5rem;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: 30%;
  margin: var(--bs-modal-margin);

  margin-right: auto;
  margin-left: auto;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  outline: 0;
  border-radius: 0.5rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

/* Modal UI changes */

.modal .sk-header {
  padding: 1.5em 1em; 
  display: flex; 
  align-items: center; 
}

.modal .modal-body {
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
}

.modal .sk-modal-footer {
  padding: 2.5em 1em; 
  border-top: 1px solid white;
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
}

.btn {
  font-size: 1rem; 
  padding: 0.4em 0.8em; 
  border-radius: 0.25rem; 
  margin-right: 0.5rem; 
  margin-top: 0.5rem; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.btn:last-child {
  margin-right: 0;
}


.btn-secondary {
  background-color: #6c757d; 
  color: white; 
}


.btn-success {
  background-color: #28a745; 
  color: white; 
}

.btn-success:hover, .btn-success:focus {
  background-color: #218838; 
}

/* Canvas scaling fix */

#canvas {
  max-width: 100% !important;
  height: auto !important;
  width: auto !important;
}



