.node{
    color:#f8f8f2;
    cursor: pointer;
}
.node-label:hover{
    background-color:#242732;
    cursor: pointer;
}
.node-label{
    width:100%;
    display:flex;
    flex-direction: row !important;
    padding: 0px 20px 0px 0px;
}
.node-label-text{
    flex: 1;
    padding: 0px 0px 0px 3px;
}
.node-button{
    background: none;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}
.node-button:hover{
    color: lime;
}
.node-transient{
    opacity: 0.7;
    color: #f8f8f2;
}
.node-persistent{
    color: #f8f8f2;
}
.node-persistent.node-transient{
    color: #9fff69;
    opacity: 1.0;
}


.directory-contents{
    padding:00px 0px 0px 30px;
    transition: max-height 0.3s ease;
    overflow:hidden;
}
.closed-directory{}
.open-directory{}


[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: inherit !important;
}


.in-drag{
    opacity:50%;
    cursor:grabbing !important;
    position:fixed;
}

.insertion-point-display{
    position:absolute;
    height:2px;
    background-color:#26A;
    opacity:100%;
    right:0px;
    left:0px;
}
.error-line{
    text-decoration-color: #d94747 !important;
    text-decoration: underline wavy;
    background-color: #6c514f;
}


.CodeMirror-scrollbar-filler {
    background-color: #282a36 !important;
}
.CodeMirror-activeline-background {
    opacity: 0;
}
.CodeMirror-focused .CodeMirror-activeline-background {
    opacity: 0.5;
}

.CodeMirror-hints{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;

    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
    box-sizing: border-box;
    opacity:0.9;
}

.CodeMirror-hint{
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    color: #f8f8f2 !important;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #08f;
    color: white;
}

#fileViewContainer {
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 90vh; /* Adjust the height as needed */
}